<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylepersonajes.css">
    <title>Grid:Personajes</title>
</head>
<body class="cuerpo">

    <header class="encabezado">
        <nav class="nav">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li>Personajes
                    <ul>
                        <li><a href="antMan.html"> Ant Man</a></li>
                        <li><a href="avatar.html"> Avatar</a></li>
                        <li><a href="avengers.html"> Avengers</a></li>
                        <li><a href="batman.html"> Batman</a></li>
                        <li><a href="capitanAmerica.html"> Capitan America</a></li>
                        <li><a href="darthVader.html"> Darth Vader</a></li>
                    </ul>
                </li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="personaje">
        <!-- Imagen del personaje -->
        <div>
            <img src="../img/Avengers.png" alt="Avengers">
        </div>

        <!-- Descripcion del personaje -->
        <div>
            <h3>Avengers</h3>
            <p>
                The Avengers are a fictional team of superheroes appearing in American comic books published by Marvel Comics.
                 The team made its debut in The Avengers #1 (cover-dated Sept. 1963), created by writer-editor Stan Lee and
                  artist/co-plotter Jack Kirby. The Avengers is Lee and Kirby's renovation of a previous superhero team, 
                  All-Winners Squad, that appeared in comic books series published Marvel Comics' predecessor Timely Comics.
            </p>
        </div>
    </div>

    <div class="menu">
        <ul>
            <li><a href="antMan.html"> Ant Man</a></li>
            <li><a href="avatar.html"> Avatar</a></li>
            <li><a href="avengers.html"> Avengers</a></li>
            <li><a href="batman.html"> Batman</a></li>
            <li><a href="capitanAmerica.html"> Capitan America</a></li>
            <li><a href="darthVader.html"> Darth Vader</a></li>
        </ul>
    </div>


    <footer class="footer">
        <p> Clase 5- Flexbox y Grid</p>
    </footer>
</body>
</html>