<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylepersonajes.css">
    <title>Grid:Personajes</title>
</head>
<body class="cuerpo">

    <header class="encabezado">
        <nav class="nav">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li>Personajes
                    <ul>
                        <li><a href="antMan.html"> Ant Man</a></li>
                        <li><a href="avatar.html"> Avatar</a></li>
                        <li><a href="avengers.html"> Avengers</a></li>
                        <li><a href="batman.html"> Batman</a></li>
                        <li><a href="capitanAmerica.html"> Capitan America</a></li>
                        <li><a href="darthVader.html"> Darth Vader</a></li>
                    </ul>
                </li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="personaje">
        <!-- Imagen del personaje -->
        <div>
            <img src="../img/Batman (115).png" alt="Batman">
        </div>

        <!-- Descripcion del personaje -->
        <div>
            <h3>Batman</h3>
            <p>
                Batman is a fictional superhero appearing in American comic 
                books published by DC Comics. The character was created by 
                artist Bob Kane and writer Bill Finger, and first appeared
                 in Detective Comics #27 (1939). Originally named the "Bat-Man",
                  the character is also referred to by such epithets as the Caped
                   Crusader, the Dark Knight, and the World's Greatest Detective.
            </p>
            <p>
                Batman's secret identity is Bruce Wayne, a wealthy American playboy, philanthropist, 
                and owner of Wayne Enterprises. After witnessing the murder of his parents Dr. 
                Thomas Wayne and Martha Wayne as a child, he swore vengeance against criminals, 
                an oath tempered by a sense of justice. Bruce Wayne trains himself physically and 
                intellectually and crafts a bat-inspired persona to fight crime.
            </p>
        </div>
    </div>

    <div class="menu">
        <ul>
            <li><a href="antMan.html"> Ant Man</a></li>
            <li><a href="avatar.html"> Avatar</a></li>
            <li><a href="avengers.html"> Avengers</a></li>
            <li><a href="batman.html"> Batman</a></li>
            <li><a href="capitanAmerica.html"> Capitan America</a></li>
            <li><a href="darthVader.html"> Darth Vader</a></li>
        </ul>
    </div>


    <footer class="footer">
        <p> Clase 5- Flexbox y Grid</p>
    </footer>
</body>
</html>