<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylepersonajes.css">
    <title>Grid:Personajes</title>
</head>
<body class="cuerpo">

    <header class="encabezado">
        <nav class="nav">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li>Personajes
                    <ul>
                        <li><a href="antMan.html"> Ant Man</a></li>
                        <li><a href="avatar.html"> Avatar</a></li>
                        <li><a href="avengers.html"> Avengers</a></li>
                        <li><a href="batman.html"> Batman</a></li>
                        <li><a href="capitanAmerica.html"> Capitan America</a></li>
                        <li><a href="darthVader.html"> Darth Vader</a></li>
                    </ul>
                </li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="personaje">
        <!-- Imagen del personaje -->
        <div>
            <img src="../img/Captain America (15).png" alt="Capitan America">
        </div>

        <!-- Descripcion del personaje -->
        <div>
            <h3>Captian America</h3>
            <p>
                Captain America is a fictional character appearing in American comic books
                published by Marvel Comics. Created by cartoonists Joe Simon and Jack Kirby,
                 the character first appeared in Captain America Comics #1 (cover dated March 1941) 
                 from Timely Comics, a predecessor of Marvel Comics. Captain America was designed as a 
                 patriotic supersoldier who often fought the Axis powers of World War II and was Timely 
                 Comics' most popular character during the wartime period. The popularity of superheroes
                  waned following the war and the Captain America comic book was discontinued in 1950, 
                  with a short-lived revival in 1953. Since Marvel Comics revived the character in 1964,
                   Captain America has remained in publication.
            </p>
        </div>
    </div>

    <div class="menu">
        <ul>
            <li><a href="antMan.html"> Ant Man</a></li>
            <li><a href="avatar.html"> Avatar</a></li>
            <li><a href="avengers.html"> Avengers</a></li>
            <li><a href="batman.html"> Batman</a></li>
            <li><a href="capitanAmerica.html"> Capitan America</a></li>
            <li><a href="darthVader.html"> Darth Vader</a></li>
        </ul>
    </div>


    <footer class="footer">
        <p> Clase 5- Flexbox y Grid</p>
    </footer>
</body>
</html>