*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/*
.color1 {color: #0f513f;}
.color2 {color: #0e6c45;}
.color3 {color: #0e974a;}
.color4 {color: #62cf4f;}
.color5 {color: #ceff5e;} 
*/

/* PADRE */
.cuerpo{
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "personaje personaje menu"
        "personaje personaje menu"
        "footer footer footer";
    grid-template-rows: auto 100px auto 100%;
    grid-template-columns: 50% auto 20%;
    row-gap: 10px;
    column-gap: 10px;
    background-color: #62cf4f;
}


/* HIJOS */
.encabezado{
    grid-area: nav;
    padding: 1rem;
    background-color: #0e6c45;
    color: black; 
}

.nav ul{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.nav ul ul{
    position: absolute;
    display: none;
}
.nav ul ul li{
    display: block;
    background-color: #0e6c45;
}

ul li:hover ul{
    display: block;
    color: black;
}

.personaje{
    grid-area: personaje;
    display: flex;
}

.personaje h3{
    display: block;
    margin: 1rem;
}

.menu{
    grid-area: menu;
    background-color: #0e974a;
}

.menu ul{
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
}

.menu li{
    padding: 0.5rem;
}

img{
    display: inline;
    max-width: 400px;
    max-height: 400px;
    height: auto;
    display: block;
    margin: auto;
}

.footer{
    grid-area: footer;
    background-color: #0e6c45;
    text-align: center;

    width: 100%;
    position: absolute;

    left: 0%;
    bottom: 0%;
}