@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:wght@400;700&display=swap');
/* Nomalize */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing : border-box;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

body{
    padding: 20vh 3%;
}

.titleContainer h1{
    text-align: center;
    margin-bottom: 7vh;
    font-size: 3rem;
}

.formRegistrate{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 3vh;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.errorText{
    color: #D97A84;
    text-align: center;
}

.input{
    padding: 10px 2px;
    border: none;
    border-bottom: 1px solid ;
}

.submit{
    padding: 10px;
    color: white;
    background-color: black;
    border: 1px solid  black;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.submit:hover{
    transition: 0.5s all ease;
    background-color: white;
    color: black;
    border: 1px solid black;
}