@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* 
Selector{
    propiedad: valor;
}


*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(201, 200, 200);  */
}

.encabezado{
    background-image: url('../img/2cd43b_fab705a023754c48b96b13a74b55b455_mv2.png');
    background-repeat: space;
    background-size: cover;
    background-position: center center;
    padding: 10rem;
}

.encabezado h1{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: center;
    color: white;
}

.menuSuperior{
    text-align: center;
}

.menuSuperior li{
    display: inline-block;
}

.menuSuperior a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem;
}

.margin{
    margin: 0.5em;
}

.presentation{
    display: inline;
    margin: 1rem;
}

.presentation h3{
    display: inline;
    margin: 0.5rem 0.5rem;
    text-decoration: underline;
}

.presentation p{
    margin: 1rem;
    text-align:justify;
    line-height: normal;
}

.listExemplo{
    margin-left: 1rem;
}

.listExemplo div{
    display: block;
    text-align: center;
}

.listExemplo h4{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 0.5rem;
}

.pie div{
    display: inline-block;
}

.izquierdo{
    text-align: left;
    margin-left: 0.5rem;
}

.centro{
    margin-left: 30%;
}

.derecho{
    margin-left: 89%;
}
/* #title{
    color: aqua;
}
.title{
    color: red;
} 
section{
    color: orange;
}

*/



