<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Personajes</title>
</head>
<body>
    <header class="encabezado">
        <section>
            <nav>
                <ul class="menuSuperior">
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="./view/personajes.html">PERSONAJES</a></li>
                    <li><a href="#">CONTACTO</a></li>
                    <li><a href="#">NOSOTROS</a></li>
                </ul>
            </nav>
        </section>

        <h1 class="fontTitle">Personajes</h1>
        <h2 class="margin"><em>Curso FullStack</em></h2>
    </header>
    
 
    <Section>
        <h2><strong>Imagen</strong></h2>
        <img src="../img/Advengers.png" alt="Advengers">
    </Section>

    <Section>
        <h2><strong>Video</strong></h2>
        <video src="../video/y2mate.com - Marvel España  Nueva introducción  HD_v240P.mp4" 
        type="video/mp4" controls></video>
    </Section>

    <Section>
        <h2><strong>Audio</strong></h2>
        <audio src="../music/FSO 2015 Oficial  Títulos de Los Vengadores (A. Silvestri).mp3" 
        controls ></audio>
    </Section>

    <Section>
        <h2><strong>IFrame</strong></h2>

        <iframe width="910" height="521" src="https://www.youtube.com/embed/ctcQ6b037k0" 
        title="Vengadores Unidos | Batalla Final | Avengers Endgame | 4K" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
        picture-in-picture" allowfullscreen></iframe>
    
    </Section>
</body>
</html>